*{
    margin: 0;
}
.container{
    position: relative;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh;
}
.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 100%;
    overflow: auto;
    padding: 0px 5px 0px 5px;
    gap: 20px;
}

.top,.bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 45%;
    gap: 20px;
}


.bottom{
    gap: 0px;
}
.poster,.transaction,.tabs{
    width: 33%;
    background: #FFFFFF;
    max-height: 245px;
}

.poster{
    border-radius: 15px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: url(../image/bg5.jpg);
    background-size: cover;
    padding: 0px 20px;
}

.poster-badge{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.poster-badge-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.poster-badge-icon {
    width: 40px;
    height: 40px;
    background-color: #1ED329;
    display: flex;
    margin-top: 10px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.transaction{
    position: relative;
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    padding: 10px 20px 0px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tabs{
    display: flex;
    flex-direction: column;
    border-radius: 15px 50px;
    gap: 10px;
    align-items: center;
    background: none;
}
.users,.order{
    padding: 23px;
    display: flex;
    align-items: center;
    gap: 30px;
    width: 70%;
    height: 50%;
    background-color: #1ed329;
    border-radius: 15px;
    box-shadow: 0 2px 4px #b7eda4;
}
.order{
    background-color: #386cd9;
    box-shadow: 0 2px 4px #7c99da;
}
.user-icon,.order-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #b7eda4;
    border: 1px solid #5fd938;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset #5fd938 0px 0px 3px 0px;
}
.order-icon{
    border: 1px solid #386cd9;
    background-color: #7c99da;
    box-shadow: inset #386cd9 0px 0px 3px 0px;
}
.summary,.graph{
    height: 245px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.summary{
    width: 40%;
    padding-left: 50px;
    border-radius: 15px 0px 0px 15px;

}
.summary-growth,.summary-target{
    gap: 10px;
}
.summary-growth-icon,.summary-target-icon{
    border: 1px none;
    border-radius: 4px;
    box-shadow: inset #5fd938 0px 0px 3px 0px;
}
.summary-target-icon{
    box-shadow: inset #d31e5b 0px 0px 3px 0px;
}
.graph{
    width: 60%;
    border-radius: 0px 15px 15px 0px;
}
.transaction-heading{
    text-align: left;
    padding-left: 5px;
    border-bottom: 1px solid gray;
}
.transaction-list{
    display: flex;
    flex-direction: row;
    border-bottom: 0.5px solid grey;
    height: 30%;
    gap: 10px;
    padding: 5px;
    
}
/* .poster-badge-icon,*/
.transaction-img{ 
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    margin-top: 10px;
    border-radius: 50%;
}

.transaction-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.transaction-details,.transaction-more{
    display: flex;
    flex-direction: column;
}
.transaction-name{
    font-weight: 650;
}
.transaction-id{
    font-weight: 300;
}
.transaction-date{
    margin-top: 10px;
    padding: 2px;
    font-size: small;
    font-weight: 700;
    border: 1px solid #1ed329;
    color: #1ed329;
    border-radius: 4px;
    box-shadow: inset #1ed329 0px 0px 3px 0px;
}
.transaction-more{
    flex-direction: row;
    position: absolute;
    bottom: 0;
}

.summary{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.summary-growth,.summary-target{
    display: flex;
    flex-direction: row;
}

svg{
    max-height: 270px;
}

@media only screen and (max-width: 1041px) {
    .poster-heading h2{
      font-size: 20px;
    }
    .poster-desc{
        font-size: 14px;
    }
}
@media only screen and (max-width: 840px) {
    .container{
        /* height: 540px; */
        overflow: hidden;
    }
    .dashboard{
        /* height: 100%; */
        width: 80%;
        padding-top: 50px;
        justify-content: flex-start;
        /* height: max-content; */
        height: 100%;
        overflow: scroll;
    }
    .top,.bottom,.summary,.graph{
        height: unset;
    }
    .bottom{
        padding-bottom: 60px;
    }
    .top{
        flex-direction: column;
    }
    .poster,.transaction,.tabs{
        width: 90%;
        height: 400px;
    }
    .graph{
        width: 45%;
        padding-right: 20px;
    }
    .tabs{
        flex-direction: row;
        padding: 0px 20px;
    }
}
@media only screen and (max-width: 715px) {
    .bottom{
        flex-direction: column;
        gap: 20px;
    }
    .summary{
        height: 270px;
        width: 90%;
        border-radius: 15px;
        padding: 0px 20px;
    }
    .graph{
        height: 274px;
        width: 90%;
        border-radius: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 0px 20px;
    }
}
@media only screen and (max-width: 615px) {
    .dashboard{
        width: 95%;
    }
    .tabs{
        flex-direction: column;
    }
}
@media only screen and (max-width: 450px) {
    .poster,.transaction,.tabs,.summary,.graph{
        width: 88%;
    }
}
@media only screen and (max-width: 400px) {
    .poster,.transaction,.tabs,.summary,.graph{
        width: 83%;
    }
}
