/* OrdersCalendar.css */
.orders-calendar-container{
  /* min-width: max-content; */

  display: flex;
  flex-direction: row;
  gap: 10px;
  /* padding: 0px 50px; */
}
.orders-calendar {
  display: flex;
  gap: 20px;
  width: 85%;
  /* height: 100vh; */
  /* margin: 0 auto; */
  padding: 50px;
  background-color: #f5f5f5;
  /* background-color: #ff5733; */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.calendar-title {
  font-size: 24px;
  margin-bottom: 20px;
}
  
.calendar-wrapper {
  width: 50%;
  background-color: #fff;
  padding: 20px;
  /* margin-bottom: 20px; */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.custom-calendar {
  width: 100%;
  height: 100%;
  /* border-radius: 8px; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}
  
.orders-list {
  width: 50%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.orders-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.orders-list table {
  width: 100%;
  border-collapse: collapse;
}

.orders-list th, .orders-list td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.orders-list th {
  background-color: #f2f2f2;
}

.orders-list tr:hover {
  background-color: #f2f2f2;
}
  .order-indicator {
    width: 10px;
    height: 10px;
    background-color: #ff5733; /* Choose a color for the indicator */
    border-radius: 50%; /* To make it a circle */
    display: inline-block;
    /* margin-right: 5px;  */
  }
  /* Customize further as needed */
@media only screen and (max-width: 840px) {
  .orders-calendar{
    flex-direction: column;
    align-items: center;
  }
  .calendar-wrapper,.orders-list{
    width: 80%;
  }
}
@media only screen and (max-width: 465px) {
  .orders-calendar{
    padding: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .orders-calendar{
    padding: 10px;
  }
}
